img {
    height: 150px;
  }
  
  .description {
    font-size: 20px;
  }
  
  #cook-time {
    font-weight: bold;
  }
  
  .ingredients li {
    list-style: square;
  }
  
  p.time {
    color: gray;
  }
  
  a.external-link {
    color: SeaGreen;
  }
  
  body {
    font-family: Helvetica;
  }